body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ2Vra2lhZGVqMTRqb3N2cmQ2MnA0b3k5OG1rY2prMXFnbW5qOWQxcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5eiUZJ4gJuMD2lERNP/giphy.gif');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
}


.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d13dbd;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
